.ui-page {
    .ui-content {
        padding: 20px 30px;
        form {
            .ui-field-contain {
                .ui-input-text {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .ui-footer {
        h1 {
            font-size: 0.8em;
        }
    }
}
