<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- 引入 jQuery 库 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
</head>
<body>

    <div data-role="page" data-theme="a">

        <div data-role="header">
            <% if (name === "同学") { %>
                <a href="javascript:window.location.href='/signin'" class="ui-btn ui-btn-icon-left ui-btn-right" id="user-log">登录</a>
            <% } else { %>
                <a href="javascript:void(0)" class="ui-btn ui-btn-right" id="user-logout">注销</a>
            <% } %>
            <h1>最新动态</h1>
        </div>

        <div data-role="content">
            <div class="center">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <span class="greeting"><%= greeting %>:</span>
                        <span class="username"><%= name %></span>
                    </div>
                    <div class="ui-block-b">
                        <span class="date">
                            <%= time %> &nbsp;
                        </span>
                        <span class="week">
                            <%= week %>
                        </span>
                    </div>
                </div>
            </div>
            <div class="add-news">

                <form method="post" action="demo_form.php">
                    <div class="ui-field-contain">
                        <input name="addinfo" id="mood" type="text" placeholder="此刻想说点什么..."></input>
                        <% if (name === "同学") { %>
                            <a href="javascript:window.location.href='/signin'" data-role="button" data-inline="true" class="ui-btn ui-shadow ui-corner-all" id="alert-button">请先登录</a>
                        <% } else { %>
                            <a href="javascript:void(0)" data-role="button" data-inline="true" class="ui-btn ui-shadow ui-corner-all" id="publish-button">发表</a>
                        <% } %>
                    </div>
                </form>

            </div>
            <div id="news-list">
                
            </div>
        </div>

        <div data-role="footer">
            <h1>Copyright (c) 2016 Copyright Holder All Rights Reserved.</h1>
        </div>

    </div>
    <script src="/dist/font-end/index.bundle.js"></script>
</body>
</html>
