<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">

    <!-- 引入 jQuery 库 -->
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 引入 jQuery Mobile 库 -->
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
</head>
<body>

    <div data-role="page" data-theme="a">

        <div data-role="header">
            <a href="javascript:window.location.href='/'" data-role="button" class="ui-btn ui-btn-inline ui-corner-all">主页</a>
            <h1>用户登录</h1>
        </div>

        <div data-role="content">

            <form method="post" action="demo_form.php">
                <div class="ui-field-contain">
                    <label for="stuID">学号:</label>
                    <input type="text" name="stuID" id="stuID">

                    <label for="pass-word">密码:</label>
                    <input type="password" name="password" id="pass-word" placeholder="">
                </div>
            </form>

            <input type="button" value="登录" id="sign-in-button">
            <a href="javascript:window.location.href='/signup'">还没有账号？</a>
        </div>

        <div data-role="footer">
            <h1>Copyright (c) 2016 Copyright Holder All Rights Reserved.</h1>
        </div>

    </div>
    <script src="/dist/font-end/signin.bundle.js"></script>
</body>
</html>
